<div class="page-header">
	{% if section.levels.level0 == "index" %}
		<h1>Профиль</h1>
	{% endif %}
	{% if section.levels.level0 == "wastes" %}
		<h1>Расходы</h1>
	{% endif %}
	{% if section.levels.level0 == "repayments" %}
		<h1>Выплаты</h1>
	{% endif %}
</div>
<div class="row">
	<div class="span3">
		<div class="well" style="padding: 8px 0;">
			<ul class="nav nav-list">
				{% include "page/content/inner/sidebar.html" %}
			</ul>
		</div>
	</div>
	<div class="span9">
		{% include "page/content/inner/breadcumb.html" %}
		{% if section.levels.level0 == "index" %}
			{% include "page/content/inner/profile.html" %}
		{% endif %}
		
		{% if section.levels.level0 == "wastes" %}
			{% include "page/content/inner/wastes.html" %}
		{% endif %}
		
		{% if section.levels.level0 == "repayments" %}
			{% include "page/content/inner/repayments.html" %}
		{% endif %}
	</div>
</div>