{% load icache_tags %}
{% load sct_extras %}
{% icache section|section_serialize user.id 'wastes' 'repayments' %}
<div class="alert alert-block">
        <h4 class="alert-heading">Внимание!</h4>
        <p>Я тут ночью много эксперементировал с разными ништяками, в результате чего все *должно* работать на порядок шустрее. Если кто-то заметит что-то подозрительное или какие-то баги - сообщите. Have fun!</p>
      </div>
<div class="page-header">
	{% if section.0 == "index" %}
		<h1>Профиль</h1>
	{% endif %}
	{% if section.0 == "wastes" %}
		<h1>Расходы</h1>
	{% endif %}
	{% if section.0 == "repayments" %}
		<h1>Выплаты</h1>
	{% endif %}
	{% if section.0 == "summary" %}
		<h1>Статистика</h1>
	{% endif %}
</div>
<div class="row">
	<div class="span3">
		<div class="well" style="padding: 8px 0;">
			<ul class="nav nav-list">
				{% include "page/content/inner/sidebar.html" %}
			</ul>
		</div>
	</div>
	<div class="span9">
		{% include "page/content/inner/breadcumb.html" %}
		{% if section.0 == "index" %}
			{% include "page/content/inner/profile.html" %}
		{% endif %}
		
		{% if section.0 == "wastes" %}
			{% include "page/content/inner/wastes.html" %}
		{% endif %}
		
		{% if section.0 == "repayments" %}
			{% include "page/content/inner/repayments.html" %}
		{% endif %}

		{% if section.0 == "summary" %}
			{% include "page/content/inner/summary.html" %}
		{% endif %}

	</div>
</div>

{% endicache %}