<ul class="breadcrumb">
	<li>
		<a href="/">Debt Manager</a> <span class="divider">/</span>
	</li>
	{% if section.0 == "index" %}
	<li>
		Профиль
	</li>
	{% endif %}
	
	{% if section.0 == "wastes" %}
		<li>
			<a href="/wastes/my/">Расходы</a> <span class="divider">/</span>
		</li>
		<li>
			{% if section.1 == "list" or section.1 == "my" %}
				Список
			{% endif %}
			
			{% if section.1 == "add" %}
				Добавить
			{% endif %}
			
		</li>
	{% endif %}
	
	{% if section.0 == "repayments" %}
		<li>
			<a href="/repayments/">Выплаты</a> <span class="divider">/</span>
		</li>
		<li>
			{% if section.1 == "list" or section.1 == "my" %}
				Список
			{% endif %}
			
			{% if section.1 == "add" %}
				Добавить
			{% endif %}
		</li>
	{% endif %}
	{% if section.0 == "summary" %}
		<li>
			<a href="/summary/">Статистика</a> <span class="divider">/</span>
		</li>
		<li>
			Список
		</li>
	{% endif %}

</ul>