<ul class="breadcrumb">
	<li>
		<a href="/">Debt Manager</a> <span class="divider">/</span>
	</li>
	{% if section.levels.level0 == "index" %}
	<li>
		Профиль
	</li>
	{% endif %}
	
	{% if section.levels.level0 == "wastes" %}
		<li>
			<a href="/wastes/">Расходы</a> <span class="divider">/</span>
		</li>
		<li>
			{% if section.levels.level1 == "list" %}
				Список
			{% endif %}
			
			{% if section.levels.level1 == "add" %}
				Добавить
			{% endif %}
			
		</li>
	{% endif %}
	
	{% if section.levels.level0 == "repayments" %}
		<li>
			<a href="/repayments/">Выплаты</a> <span class="divider">/</span>
		</li>
		<li>
			{% if section.levels.level1 == "list" %}
				Список
			{% endif %}
			
			{% if section.levels.level1 == "add" %}
				Добавить
			{% endif %}
		</li>
	{% endif %}
</ul>