<form enctype="multipart/form-data" class="form-horizontal" action="/change_pass/" method="POST">
{% csrf_token %}
    <legend>Смена пароля</legend>
    {% if form.errors %}
        <div class="alert alert-error">Форма была заполнена с ошибками</div>
    {% else %}
        {% if success %}
            <div class="alert alert-success">Изменения успешно сохранены</div>
        {% endif %}
    {% endif %}

    <fieldset>
        <input type="hidden" name="redirect_good_url" value="/panel/archive/list/">
        <input type="hidden" name="redirect_bad_url" value="/panel/archive/add/">
        <div class="control-group{% if form.errors.pass1 %} error{% endif %}">
            <label class="control-label">Введите новый пароль</label>
            <div class="controls">
                {{ form.pass1 }}
            </div>
        </div>
        <div class="control-group{% if form.errors.pass2 %} error{% endif %}">
            <label class="control-label">Подтвердите пароль</label>
            <div class="controls">
                {{ form.pass2 }}
            </div>
        </div>
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>