{% load manager_extras %}

<table class="table table-striped">
	<thead>
		<tr>
			<th>Пользователь</th>
			<th>Ваш долг</th>
			<th>Его долг</th>
		</tr>
	</thead>
	<tbody>
		{% for d in debts %}
			<tr>
				<td>{{ d.member.name }}</td>
				<td>{% if d.amount > 0 %} {{ d.amount|precision:2 }} {% else %} - {% endif %}</td>
				<td>{% if d.amount < 0 %} {{ d.absamount|precision:2 }} {% else %} - {% endif %}</td>
			</tr>
		{% endfor %}
	</tbody>
	<p>{% if balance > 0 %}В сумме вам должны {{ balance|precision:2 }} рублей.{% else %}В сумме вы должны {{ absbalance|precision:2 }} рублей.{% endif %}</p>
</table>