{% if section.0 == "index" %}
	<li class="nav-header">Профиль</li>
	<li class="active"><a href="/wastes/list/"><i class="icon-white icon-list"></i>Статистика</a></li>
	
{% endif %}

{% if section.0 == "wastes" %}
	<li class="nav-header">Расходы</li>
	<li {% if section.1 == "list" or section.1 == "my" %}class="active"{% endif %}><a href="/wastes/my/"><i 
	{% if section.1 == "list" or section.1 == "my" %}
		class="icon-white icon-list"
	{% else %}
		class="icon-list"
	{% endif %}></i>Список</a></li>
	<li {% if section.1 == "add" %}class="active"{% endif %}><a href="/wastes/add/"><i 
	{% if section.1 == "add" %}
		class="icon-white icon-file"
	{% else %}
		class="icon-file"
	{% endif %}></i>Добавить</a></li>
{% endif %}

{% if section.0 == "repayments" %}
	<li class="nav-header">Выплаты</li>
	<li {% if section.1 == "list" or section.1 == "my" %}class="active"{% endif %}><a href="/repayments/my/"><i 
	{% if section.1 == "list" or section.1 == "my" %}
		class="icon-white icon-list"
	{% else %}
		class="icon-list"
	{% endif %}></i>Список</a></li>
	<li {% if section.1 == "add" %}class="active"{% endif %}><a href="/repayments/add/"><i 
	{% if section.1 == "add" %}
		class="icon-white icon-file"
	{% else %}
		class="icon-file"
	{% endif %}></i>Добавить</a></li>
{% endif %}

{% if section.0 == "summary" %}
	<li class="nav-header">Статистика</li>
	<li class="active"><a href="/summary/"><i
		class="icon-white icon-list"></i>Список</a></li>
{% endif %}